// #app
$app_font: 'Microsoft Yahei';
$app_fsize: 16px;
$app_width: 1920px;
$app_height: 966px;
// #logo
$logo_left: 461px;
$logo_top: 21px;
// #navigation
$navigation_left: 1032px;
$navigation_top: 37px;
// #btn
$btn_width: 108px;
$btn_height: 36px;
$btn_margin_left: 0px;