// #app
$app_font: 'Microsoft Yahei';
$app_fsize: 16px;
$app_width: 1920px;
$app_height: 956px;
// #logo
$logo_left: 365px;
$logo_top: 18px;
// #navigation
$navigation_left: 1144px;
$navigation_top: 17px;
// #btn
$btn_width: 124px;
$btn_height: 42px;
$btn_margin_left: 24px;