li {
  list-style: none;
}

a {
  text-decoration: none;
}

html {
  overflow-x: hidden;
}

#app {
  font-family: "Microsoft Yahei";
  font-size: 16px;
  width: 1920px;
  height: 956px;
  padding: 0;
  margin-left: -960px;
  overflow-x: hidden;
  position: absolute;
  left: 50%;
}

#wrapper {
  position: relative;
  width: 1920px;
  height: 956px;
}

#wrapper embed {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

#wrapper #logo {
  left: 365px;
  top: 18px;
  cursor: pointer;
  position: absolute;
  width: 200px;
  height: 90px;
  background: url(http://ddt.wan.com/Public/images/logo.png);
}

#wrapper #logo.logo3 {
  background: url(http://ddt.wan.com/Public/images/logo3.png);
}

#wrapper #navigation {
  top: 17px;
  left: 1144px;
  position: absolute;
}

#wrapper #navigation .btn {
  margin-left: 24px;
  line-height: 42px;
  width: 124px;
  height: 42px;
  color: #fff;
  text-align: center;
  cursor: pointer;
  font-weight: 700;
  float: left;
}

#wrapper #navigation #_4399 {
  display: none;
  background: url(../images/4399.png);
}

#wrapper #navigation #_4399._4399 {
  display: block;
}

#wrapper #navigation #homepage {
  background: url(../images/website.png);
}

#popup {
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  margin: -335px 0 0 -503.5px;
  height: 670px;
  width: 1007px;
  background: url(../images/pop.png);
  z-index: 1000;
}

.pic {
  position: absolute;
}

.pic._1 {
  left: 308px;
  top: 103px;
  width: 399px;
  height: 432px;
  background: url(../images/_1.jpg);
  display: none;
}

.pic._2 {
  left: 209px;
  top: 103px;
  width: 597px;
  height: 432px;
  background: url(../images/_2.jpg);
  display: none;
}

.pic._3 {
  left: 190px;
  top: 103px;
  width: 640px;
  height: 432px;
  background: url(../images/_3.jpg);
  display: none;
}

.pic._4 {
  left: 215px;
  top: 103px;
  width: 611px;
  height: 436px;
  background: url(../images/_4.jpg);
  display: none;
}

.close {
  position: absolute;
  left: 910px;
  top: 83px;
  height: 37px;
  width: 37px;
  cursor: pointer;
}

.cover {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: .7;
  top: 0;
  left: 0;
  display: none;
  z-index: 1000;
}

.cover {
  filter: alpha(opacity=70);
}
